/* chessboard.css */
body {
    background-color: rgb(226, 230, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#chessboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 80vmin;
    height: 80vmin;
    border: 2px solid #333;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.black {
    background-color: #769656;
}

.white {
    background-color: #eeeed2;
}

/* Chess piece styles */
.piece {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.p { background-image: url('../img/wp.png'); }
.n { background-image: url('../img/wn.png'); }
.b { background-image: url('../img/wb.png'); }
.r { background-image: url('../img/wr.png'); }
.q { background-image: url('../img/wq.png'); }
.k { background-image: url('../img/wk.png'); }
.P { background-image: url('../img/bp.png'); }
.N { background-image: url('../img/bn.png'); }
.B { background-image: url('../img/bb.png'); }
.R { background-image: url('../img/br.png'); }
.Q { background-image: url('../img/bq.png'); }
.K { background-image: url('../img/bk.png'); }
