body {
    background-color: rgb(226, 230, 238);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(220, 220, 236);
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    color: blue;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 16px;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

button {
    font-size: 24px;
    width: 200px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.hidden {
    display: none;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container label {
    font-size: 18px;
    margin-bottom: 5px;
}

.form-container input {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 5px;
    width: 300px;
}

.form-container button {
    font-size: 24px;
    margin-top: 10px;
    padding: 10px 20px;
    width: auto;
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.backBtn {
    background-color: #ccc;
}
